<h4>Livros</h4><br>

<%= link_to("Cadastrar Livro", new_admin_user_path, class: "btn btn-success mb-4") %>

<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    <% end %>
  </tbody>
</table>
