<h2>Seja bem-vindo ao seu painel <%= current_user.name %></h2>
<h6> </h6>
<h6> </h6>
<h6>Seu número de resgitro é <%= current_user.id %></h6>
<h6>Esse número é util para as suas reservas!</h6>
<h6>**Boa Leitura!**</h6>
