<div
  id="admin-navbar"
  data-admin-name="<%= current_admin.name %>"
  data-current-path="<%= request.path %>"
  data-logo-url="<%= ActionController::Base.helpers.asset_path('logo_2.png') %>">
</div>

<%= javascript_pack_tag 'admin_navbar', 'data-turbolinks-track': 'reload' %>