<div
  id="user-navbar"
  data-user-name="<%= current_user.name %>"
  data-current-path="<%= request.path %>"
  data-logo-url="<%= ActionController::Base.helpers.asset_path('logo_2.png') %>">
</div>

<%= javascript_pack_tag 'user_navbar', 'data-turbolinks-track': 'reload' %>